html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }


.heading1{
    color:brown;
    font-size: large;
}

h1{
    color: chocolate;
    
}

.trash{
    color: red;
    background-color: aquamarine;
}